/* Existing CSS */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

header {
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-container h1 {
    margin: 0;
    font-size: 1.8rem;
    color: #333;
}

.hamburger {
    cursor: pointer;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    justify-content: space-around;
    align-items: center;
    width: 30px;
    height: 20px;
}

.line {
    width: 100%;
    height: 4px;
    background-color: #333;
    border-radius: 5px;
}

nav {
    position: absolute;
    top: 60px; /* Adjust based on header height */
    right: 0;
    background-color: #ffffff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 5px 5px;
    z-index: 100;
}
.dashboard {
    margin-top: calc(100vh); /* Adjust this value to control the spacing between the navbar and the cards */
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li {
    padding: 10px 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    position: relative;
}

nav a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #ff6f61;
    transition: width 0.3s, left 0.3s;
    position: absolute;
    left: 50%;
    bottom: -5px;
    background-color: #ff6f61;
}

nav a:hover::after {
    width: 100%;
    left: 0;
}

.hidden {
    display: none;
}

/* Existing CSS continued... */
.dashboard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 80%;
    max-width: 1200px;
}

.card {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
}

.card h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #333333;
}

.card p {
    font-size: 1rem;
    color: #666666;
}

.temperature {
    font-size: 2.5rem;
    color: #ff6f61;
}
